/* :root{
    --primario:  #c4ba9c; 
    --secundario:   #d8beef; 
    --secundarioOscuro:  #9870ce;
    --terciario:   #a1d068 ;
    --blanco: white;
    --negro: black;
    --gris:  #cecece; 
} */

:root{
    --primario: #512b52;
    --secundario: #a7dbab;
    --terciario: #e4f5b1;
    --primarioOscuro: #635274;
    --secundarioOscuro: #7bb0a8;
    --blanco: white;
    --negro: black;
    --gris:  #cecece;
}

/* Globales */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
p{
    font-size: 2rem;
    color: black;
    line-height: 1.5;
}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
article{
    margin-bottom: 2rem;
}
article:last-of-type{
    margin-bottom: 0;
}

.img-machu{
    height: 26.5rem;
}

/* Utilidades */
.text-center{
    text-align: center;
}
.no-margin{
    margin: 0;
}
.boton{
    text-align: center;
    background-color: var(--secundarioOscuro);
    padding: 1rem 0;
    border-radius: .5rem;
    font-size: 1.8rem;
    color: var(--blanco);
    font-weight: bold;
}
.boton-saber{
    text-align: center;
    background-color: var(--secundarioOscuro);
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: bold;
}
.boton-info{
    text-align: center;
    background-color: var(--primarioOscuro);
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--blanco);
    font-weight: bold;
}
.boton-menu{
    text-align: center;
    background-color: var(--blanco);
    padding: 1rem 1rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    color: var(--primario);
    font-weight: bold;
}
.bg-secundario{
    background-color: var(--secundario);
}

/* Barra */
.header{
    background-color: var(--primario);
    margin-bottom: 2rem;
}
.header-lugar{
    background-color: var(--primario);
    margin-bottom: 0;
}
@media (min-width: 768px) {
    .header{
        margin-bottom: 4rem;
    }
}
.enlace-index{
    color: var(--negro);
}
.enlace-index:hover{
    color: var(--blanco);
}

.barra{
    padding: 1rem 0;
}
@media (min-width: 768px) {
    .barra{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.titulo-barra{
    margin-bottom: 2rem;
    font-size: 3.8rem;
    font-weight: bold;
}

/* Navegacion */
@media (min-width: 768px) {
    .navegacion{
        display: flex;
    }
    .navegacion__enlace{
        margin-right: 2rem;
    }
    .navegacion__enlace:last-of-type{
        margin-right: 0;
    }
}
.navegacion__enlace{
    display: block;
    text-align: center;
    color: var(--negro);
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 1rem;
}
.navegacion__enlace:last-of-type{
    margin-bottom: 0;
}
.navegacion__enlace:hover{
    color: var(--blanco);
}
.navegacion__enlace--activo{
    color: var(--blanco);
}

/* Contenido */
.titulo-contenido{
    font-size: 3.6rem;
    margin-bottom: 2rem;
    font-weight: bold;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenido{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin-top: 2rem;
    }
}

/* card */

@media (min-width: 992px) {
    .contenido-cards{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media (min-width: 769px) {
    .contenido-cards{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
    }
}
@media (max-width: 768px) {
    .contenido-cards{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
}
@media (max-width: 767px) {
    .contenido-cards{
        display: grid;
        grid-template-columns: repeat(1 , 1fr);
    }
}

.card{
    width: 36rem;
    margin-bottom: 2rem;
}
@media (min-width: 360px) {
    .card{
        width: 34rem;
    }
}
@media (min-width: 375px) {
    .card{
        width: 36rem;
    }
}
@media (min-width: 411px) {
    .card{
        width: 39rem;
    }
}
@media (min-width: 568px) {
    .card{
        width: 50rem;
    }
}
@media (min-width: 768px) {
    .card{
        width: 34rem;
    }
}
@media (min-width: 992px) {
    .card{
        width: 40rem;
    }
}
.card-titulo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--primario);
}

/** Carrucel **/
.carousel{
    margin-bottom: 2rem;
}
@media (min-width: 992px) {
    .grid-carrucel{
        display: grid;
        grid-template-columns: 40% 60%;
        column-gap: 2rem;
    }
    .img{
        grid-row: 1/2;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .grid-carrucel{
        display: grid;
    }
    .img{
        grid-row: 1/2;
        margin-top: 0;
    }
}

/* Saber más */
.saber-texto{
    font-size: 1.2rem;
    font-family: cursive;
}
.saber-texto span{
    font-weight: bold;
}

/* Tips Viajes */
.titulo-item{
    font-size: 2rem;
    font-weight: bold;
}
.p-item{
    font-size: 1.5rem;
}
.menu-canvas{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria{
    margin-top: 4rem;
}
@media (min-width: 768px) {
    .galeria{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
    .galeria-img{
        margin-top: 0;
    }
}
@media (min-width: 992px) {
    .galeria{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .galeria-img{
        margin-top: 0;
    }
}
@media (max-width: 767px) {
    .galeria-img{
        margin-top: 2rem;
    }
}

/* Footer */
.pie{
    margin-top: 2rem;
    background-color: var(--terciario);
    padding: 2rem;
}
.pie-texto{
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 1rem;
}